nav {
  width: 20%;
  background-color: white;
  height: 100vh;
  float: left;
  text-align: center;
  padding: 50px 15px;
  ul {
    @extend .gap;
    li {
      margin-bottom: 10px;
      a {
        cursor: pointer;
        &.active {
          text-decoration: underline;
        }
        img {
          width: 50px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .icon {
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 20px 15px;
    ul {
      margin-bottom: 0;
      li {
        margin-bottom: 0;
        font-size: 12px;
        &:not(:first-of-type) {
          float: left;
          width: 25%;
          text-align: center;
        }
        a {
          &.active {
            text-decoration: underline;
          }
          img {
            width: 30px;
            display: block;
            margin: 0 auto 10px;
          }
        }
      }
    }
    .icon {
      display: none;
    }
  }
}
