<div class="row">
  <div class="col-md-6">
    <form ng-submit="playlistsShow.search()" class="search-tracks">
      <input type="text" ng-model="playlistsShow.q">
      <button class="button">Search</button>
    </form>
    <div class="list gap" ng-show="playlistsShow.results">
      <ul>
        <li ng-repeat="track in playlistsShow.results">
          {{ track.name }} by {{ track.artists[0].name }}
          <play track="track.preview_url" ng-if="track.preview_url"></play>
          <button ng-click="playlistsShow.addSuggestion(track)" class="button button--small">Suggest</button>
        </li>
      </ul>
    </div>

    <h2>Suggestions</h2>
    <div class="list">
      <p ng-hide="playlistsShow.suggestions.length">No suggestions!</p>
      <ul ng-show="playlistsShow.suggestions.length">
        <li ng-repeat="suggestion in playlistsShow.populatedSuggestions">
          {{ suggestion.name }} by {{ suggestion.artists[0].name }} suggested by {{ suggestion.createdBy.username }}
          <button ng-click="playlistsShow.addTrack(suggestion)" class="button button--small" ng-if="playlistsShow.user.id === main.currentUserId">Add</button>
          <button ng-click="playlistsShow.removeSuggestion(suggestion)" class="button button--small" ng-if="suggestion.createdBy.id === main.currentUserId">Delete</button>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-md-6">
    <div class="gap">
      <h1>{{ playlistsShow.playlist.name }}</h1><a class="button button--small" href="{{ playlistsShow.playlist.external_urls.spotify }}" target="_blank">Open on Spotify</a> <button class="button button--small" ng-if="playlistsShow.user.id === main.currentUserId" ng-click="playlistsShow.deletePlaylist(playlist)">Delete from Voter</button>
    </div>
    <ol class="tracks">
      <li ng-repeat="item in playlistsShow.playlist.tracks.items">
        {{ item.track.name }} by {{ item.track.artists[0].name }} <button class="button button--small" ng-click="playlistsShow.removeTrack(item)">Remove</button>
      </li>
    </ol>
  </div>
</div>
