// Import all of your scss files here
@import 'reset';
@import 'bootstrap/bootstrap-grid';
@import 'partials/variables';
@import 'partials/extends';
@import 'partials/defaults';

@import 'partials/nav';
@import 'partials/typography';
@import 'partials/buttons';

.current {
  font-weight: 700;
}

body {
  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $text;
}

main {
  width: 80%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
  overflow: scroll;
  @media only screen and (max-width: 767px) {
    width: 100%;
    height: auto;
    overflow: auto;
  }
}

input {
  @extend .input-styles;
}

.message {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  font-weight: 700;
  text-align: center;
  @extend .gap;
}

.new-message {
  overflow: hidden;
  input {
    width: 75%;
    margin-right: 5px;
    float: left;
  }
  button {
    width: calc(25% - 5px);
    float: left;
  }
}

.search-tracks {
  overflow: hidden;
  margin-bottom: 20px;
  input {
    width: 75%;
    margin-right: 5px;
    float: left;
  }
  button {
    width: calc(25% - 5px);
    float: left;
  }
}

.list {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 4px;
  li {
    &:not(:last-of-type) {
      @extend .gap--small;
    }
    button {
      vertical-align: middle;
    }
  }
}

.tracks {
  list-style: decimal;
  padding-left: 30px;
  li {
    @extend .gap--small;
  }
}

.play {
  text-align: center;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  i {
    color: white;
    cursor: pointer;
  }
}

.form {
  label {
    @extend .heading;
    font-size: 12px;
    color: white;
  }
  input, button {
    width: 100%;
    @extend .gap--small;
  }
}

.form-validation {
  color: white;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  border-radius: 4px;
  @extend .gap--small;
}

@import 'partials/messages';

@media only screen and (max-width: 767px) {
  [class^="col-md"] {
    margin-bottom: 20px;
  }
}
